<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn" strict="true" name="TestConfig" monitorInterval="60">
    <Properties>
        <Property name="logpath">target/logs</Property>
        <Property name="filename">testlog_${date:yyyy-MM-dd}</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%highlight{[%d{HH:mm:ss.SSS}] | %-5p | %-32.42t | %-32.42c{1} | %m%n}{FATAL=red blink, ERROR=red blink, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}" />
        </Appender>

        <Appender type="File" name="File" fileName="${logpath}/${filename}.log">
            <Layout type="PatternLayout">
                <Pattern>%d{HH:mm:ss.sss} %-5p %c{1}:%L - %m%n</Pattern>
            </Layout>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="console" additivity="false">
            <AppenderRef ref="STDOUT" />
        </Logger>

        <Logger name="file" additivity="false">
            <AppenderRef ref="File" />
        </Logger>

        <Root level="trace">
            <AppenderRef ref="STDOUT" level="error" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>